<div class="image-holder"
	*ngIf="near"
	(wheel)="onScroll($event)">
		<img
			class="image"
			[class.zoom]="zoom > 0"
			[class.zoom-full]="zoom > 1"
			*ngIf="imageType === 'Image'"
			[src]="sanitizer.bypassSecurityTrustUrl(imageURL)"
			(error)="imageError($event);"
			(click)="zoom = (zoom + 1) % 3"/>
		<video
			#videoElement
			class="image"
			*ngIf="imageType === 'Video'"
			[src]="sanitizer.bypassSecurityTrustUrl(imageURL)"
			[autoplay]="active"
			[muted]="!active"
			loop>
		</video>
</div>

<h1 *ngIf="showText && title != null">
	<a [href]="sanitizer.bypassSecurityTrustUrl(sourceURL)" target="_blank">{{title}}</a>
</h1>
<p *ngIf="showText && description != null">{{description}}</p>