<div id="image-area" class="single">

</div>
<div id="controls" class="show">
	<h1>The Internet Slideshow</h1>
	<p>Paste a link below (<a (click)="openInfo()">See supported links</a>)</p>

	<div class="input-group">
		<input/>
		<button>Start Slideshow</button>
	</div>

	<label>
		<input type="checkbox"/> Show Text
	</label>
	<label>
		<input type="checkbox"/> Slide
	</label>

	<div class="input-group">
		<div>Page</div>
		<input value="0"/>
		<div>of 0</div>
		<button>Go</button>
	</div>
</div>