<div #imageArea
	 id="image-area"
     class="single"
	 [class.touch]="isTouch"
     (scroll)="scroll($event)">
	<app-image *ngFor="let image of images; let i = index;"
	           [imageURL]="image.imageURL"
	           [title]="image.title"
	           [description]="image.description"
	           [sourceURL]="image.sourceURL"
			   [showText]="showText"
			   [near]="isNear(i)"
			   [active]="i === imageAreaScroll"
			   (error)="removeFailure($event.sender)">
	</app-image>
</div>

<div id="controls" [class.show]="showControls">
	<h1>The Internet Slideshow</h1>
	<p>Paste a link below (<a (click)="showInfo = true">See supported links</a>)</p>

	<div class="input-group">
		<input type="url" [(ngModel)]="URL" (keyup.enter)="loadURL(URL)"/>
		<button (click)="loadURL(URL)" style="min-width: 15ch;">Start Slideshow</button>
	</div>

	<label>
		<input type="checkbox" [(ngModel)]="showText"/> Show Text
	</label>
	<br/>

	<div class="input-group">
		<div style="min-width: 4ch;">Page</div>
		<input [(ngModel)]="pageNumber" type="number" (keyup.enter)="imageAreaScroll = pageNumber - 1;"/>
		<div style="min-width: 6ch;">of {{images ? images.length : 0}}</div>
		<button (click)="imageAreaScroll = pageNumber" style="min-width: 2ch;">Go</button>
	</div>

	<p><a (click)="openExtensionPage()">Download the Slideshow extension!</a></p>
</div>

<div
	id="controls-toggle"
	[class.show]="!showControls && isTouch"
	(click)="showControls = true;">
	<p>Show Controls</p>
</div>

<div id="info" [hidden]="!showInfo">
	<div class="back" (click)="showInfo = false"></div>
	<div class="modal">
		<h1>Supported Links</h1>
		<ul>
			<ng-container *ngFor="let generator of imageService.generators">
				<li *ngIf="generator.showExample">
					{{generator.site}}
					<table>
						<tr *ngFor="let example of generator.examples; let i = index;">
							<td>
								<span *ngIf="i === 0">Example:</span>
							</td>
							<td><code>{{example}}</code></td>
						</tr>
					</table>
				</li>
			</ng-container>
		</ul>
	</div>
</div>