:host {
	overflow: hidden;

	&.infinit::after {
		content: "Loading...";

		position: absolute;
		top: 50%;
		right: -75px;
		transform: translate(0px, -50%);
	}
}

#image-area {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;

	&.single {
		overflow: hidden;

		white-space: nowrap;

		&.touch {
			overflow-x: auto;
			scroll-snap-type: mandatory;
			scroll-snap-points-x: repeat(100%);
		}

		app-image {
			width: 100%;
			height: 100%;
		}
	}

	&.grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		
		overflow-x: hidden;
		overflow-y: auto;

		app-image {
			width: 175px;
			height: 175px;

			margin: 10px 0px;
		}
	}
}

#controls {
	padding: 20px;
	
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;

	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;

	@media screen and (min-width: 480px) {
		right: unset;
	}

	&.show, &:hover {
		opacity: 1;
		backdrop-filter: blur(2px);
	}

	h1, p {
		margin-top: 0px;
		margin-bottom: 5px;

		&:last-child {
			margin-top: 5px;
			margin-bottom: 0px;
		}
	}

	.input-group {
		display: flex;
		align-items: stretch;

		border: 2px solid #666666;

		* {
			margin: 0px;
			padding: 6px 12px;
			display: inline;

			vertical-align: middle;
			font-size: 16px;
			color: #ffffff;
			background: none;
			border: none;
			cursor: default;
		}
		input {
			flex-grow: 1;

			cursor: text;
			outline: none !important;
		}
		button {
			cursor: pointer;
		}
	}

	label {
		display: block;
	}
}

#controls-toggle {
	padding: 10px 20px;

	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);

	display: none;

	position: fixed;
	left: 50%;
	bottom: 0px;

	transform: translate(-50%, 0px);

	&.show {
		display: block;
	}

	p {
		margin: 0px;
	}
}

#info {
	> .modal {
		width: 100vw;
		max-width: 600px;
		padding: 20px;

		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(2px);
		
		position: fixed;
		top: 50vh;
		left: 50vw;
		transform: translate(-50%, -50%);
	}

	> .back {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}
}